# Ignore builded content
public/css
public/js
public/fonts
public/images
public/storage
public/mix-manifest.json

storage/*.key

node_modules
vendor
.env
.env.**

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.vscode
*.code-workspace
_ide_helper*
